@font-face {
  font-family: "Arimo", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap);
}

body {
  font-family: arimo, Verdana, Geneva, Tahoma, sans-serif;
  background: url(../Assets/images//background-mountains@2x.png) no-repeat fixed
    center bottom;
  background-size: auto;
  background-color: #e6eff0;

  min-height: 2000px; /*temporary*/
}

/* hamburger menu css hack (for mobile and tablet)*/
nav {
  display: none;
  float: left;
}
#hamburger-menu {
  display: none;
  float: left;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
nav li {
  list-style: none;
  text-align: left;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}

header > * {
  display: inline-block;
}
/* [end] hamburger menu css hack */

/* .searchbar input[type="text"] {
  border-radius: 50px;
  padding: 20px;
  font-size: 40;
  float: left;
  position: relative;
  top: -100px;
  left: 300px;
} */

/* mobile (insert media query)*/

/* topnav */
/* .hamburger-menu_header {
  position: absolute;
  left: 20px;
  top: 20px
}

.shopping-cart_icon {
  position: absolute;
  right: 20px;
  top: 25px;
} */

header {
  text-align: center;
  background: #a8bfbd;
  max-width: 100%;
}
.hamburger-menu_header {
  font-size: 2em;
}

body {
  margin: 0px;
}

.logo {
  padding: 1em;
}

/* home page */
main {
  max-width: 1000px;
  margin: 0 auto;
}

.banner-picture {
  width: 100%;
  margin: 20px 0;
}

.product {
  flex: 1;
  max-width: 50vw;
  padding: 20px;
  margin: 3px;
}

.product_image {
  max-width: 100%;
}

.product {
  background: #f1f1f1;
}

.blog-items_box {
  display: flex;
  flex-wrap: wrap;
}

.helpful_tips {
  display: flex;
  background: #0a3641;
  color: white;
  flex: 3;
  margin: 3px;
}

.helpful_tips img {
  flex: 2;
  max-width: 70%;
}

.helpful_tips p {
  flex: 1;
  min-width: 25%;
}

.helpful_tips p,
.choosing-jacket p {
  padding: 10px;
  color: orange;
  font-size: 1.6em;
}

.choosing-jacket img {
  max-width: 100%;
  max-height: 40%;
  object-fit: cover;
}

.choosing-jacket {
  display: flex;
  flex-direction: column;
  background: #0a3641;
  color: white;
  margin: 3px;
  flex: 1;
}

/* flex home page products */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1000px;
}

/* temporary */

footer {
  display: none;
}
